@model IEnumerable<ProjetoFinal.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Lista de pedidos</h1>

<p>
    <a asp-action="Create">Adicionar novo Pedido</a>
</p>
<div>
    <a asp-controller="Adm" asp-action="Index" class="btn btn-success">Voltar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPedido">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

