@model IEnumerable<ProjetoFinal.Models.Suporte>

@{
    ViewData["Title"] = "Suporte";
}

<h1>Suporte</h1>

<p>
    <a asp-action="Create">Adicionar nova Mensagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.IdCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSuporte">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.IdSuporte">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.IdSuporte">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
