@model IEnumerable<ProjetoFinal.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
<h1>Produtos</h1>
<div class="container-fluid d-flex justify-content-between flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card mb-4" style="width: 15rem;">
            <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.IdProduto">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.UrlImagem)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p>R$ @Html.DisplayFor(modelItem => item.Preco)</p>
                    <p class="card-text text-secondary mb-4">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <a class="btn btn-primary" asp-controller="Pedido" asp-action="Create">Comprar</a>
                </div>
            </a>
        </div>
    }
</div>