@model IEnumerable<ProjetoFinal.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Adicionar novo Produto</a>
</p>
<div>
    <a asp-controller="Adm" asp-action="Index" class="btn btn-success">Voltar</a>
</div>

    <table class="table table-responsive" style="max-height:auto; min-width:120px; overflow-x:auto; margin: 2px;"
        <thead>
            <tr class="table-success">
                <th scope="col"> @Html.DisplayNameFor(model => model.Nome)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Descricao)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Preco)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Estoque) </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.UrlImagem)</th>
                <th scope="col">  @Html.DisplayNameFor(model => model.Artesao)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estoque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrlImagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artesao.NomeArtesao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.IdProduto">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
