@model IEnumerable<ProjetoFinal.Models.ItemPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Itens de Pedidos</h1>

<p>
    <a asp-action="Create">Novo Item Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                ID Produto
            </th>
            <th>
                ID Pedido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdItemPedido">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdItemPedido">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdItemPedido">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
