@model IEnumerable<ProjetoFinal.Models.Artesao>

@{
    ViewData["Title"] = "Artesão";
}

<h1>Artesão</h1>

<p>
    <a asp-action="Create">Adicionar novo Artesão</a>
</p>
<div>
    <a asp-controller="Adm" asp-action="Index" class="btn btn-success">Voltar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeArtesao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeArtesao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.senha)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdArtesao">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdArtesao">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdArtesao">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
