@model IEnumerable<ProjetoFinal.Models.Vendedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendedores</h1>

<p>
    <a asp-action="Create">Cadastrar novo vendedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                CPF
            </th>
            <th>
                E-mail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                Endereço
            </th>
            <th>
                CEP
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                UF
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPessoa">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPessoa">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPessoa">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
