@model IEnumerable<ProjetoFinal.Models.Cliente>

@{
    ViewData["Title"] = "Meu Cadastro";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Clientes</h1>

<p>
    <a asp-action="Create">Adicionar novo Cadastro</a>
</p>
<div>
    <a asp-controller="Adm" asp-action="Index" class="btn btn-success">Voltar</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Nome)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Cpf)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Senha) </th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Telefone)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Endereco)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Cep)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Cidade)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Uf)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdCliente">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCliente">Excluir</a>
                </td>
            </tr>
        }

    </tbody>
</table>
